# pycharm
.idea/

# log files
*.log

# scratch files
scratch*
analysis.py

# chache stuff
__pycache__/

# jupyter
.ipynb_checkpoints/
*.ipynb

# spyder
.spyproject/

# pipenv
Pipfile
Pipfile.lock

# pdf docs
*.pdf


*.ods

*.yml
